.container {
    display: flex;
    width: 100%;
    padding-top: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 430px;
    align-items: center;
    gap: 10px;
}

.titleForm {
    text-align: center;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    color: #202b21;
    text-transform: none;
    margin-bottom: 35px;
}

.input {
    border: 1.50px solid #2a592e;
    border-radius: 3px;
    padding: 20px 64px 20px 20px;
    width: 100%;
    height: 53px;
}

.checkbox {
    position: absolute;
    top: 25px;
    right: 10px;
}

.button {
    width: 100%;
    margin-top: 45px;
}

.submit {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.noaccaunt {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #2c2c2c;
}

.registration {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #519057;
    display: flex;
    cursor: pointer;
}

.picbox {
    display: flex;
    align-items: flex-end;
}

.big {
    background: url('../../assets/images/login.png') no-repeat;
    background-size: cover;
    width: 470px;
    height: 515px;
}

.small {
    background: url('../../assets/images/login1.png') no-repeat;
    background-size: cover;
    width: 261px;
    height: 327px;
}
