.btn {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  min-width: 168px;
  background-color: #456F49;
  color: #FFFFFF;
  padding: 15px 40px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  &:disabled {
    background-color: #404740;
    cursor: not-allowed;
  }
  &:hover {
    background-color: #2f5533;
  }
}

.outline {
  background-color: #fff;
  border: 1px solid #456F49;
  box-sizing: border-box;
  color: #456F49;
  &:hover {
    background-color: #fff;
    border: 1px solid #456F49;
    box-sizing: border-box;
    color: #456F49;
  }
}

@media screen and (max-width: 430px) {
  .btn {
    width: 100%!important;
  }
}
