.main__wrapper {
  position: relative;
  padding-bottom: 200px;
  padding-top: 58px;
  background-image: url(../../assets/images/login.png), url(../../assets/images/login1.png);
  background-repeat: no-repeat;
  background-position: bottom right 60%, bottom right;

  h2 {
    font-family: Lora, sans-serif;
    font-weight: 400;
    line-height: 78px;
    font-size: 60px;
    color: #2A592E;
    margin-bottom: 67px;
    text-align: left;

    @media (max-width: 980px) {
      font-size: 40px;
      line-height: 42px;
    }
  }

  @media (max-width: 1300px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (max-width: 900px) {
    padding: 50px 20px 100px 20px;
    background-position: bottom right 65%, bottom right;
    background-size: 50%, 30%;
  }
}

.main__description {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  width: 530px;
  font-size: 18px;
  color: #202B21;
  line-height: 25px;

  @media (max-width: 980px) {
    padding-bottom: 100px;
    width: 400px;
    font-size: 14px;
  }

  @media (max-width: 710px) {
    width: 350px;
  }
}

.main__imgcenter {
  position: absolute;
  right: 15%;
  bottom: -10px;
  width: 30%;
}
