/* :root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Lora", sans-serif;
    --third-family: "Suisse Intl", sans-serif;
} */

.container__registration {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;

    @media (max-width: 800px) {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
    }
}

.container__general {
    display: flex;
    flex-direction: column;
    width: 30%;

    @media (max-width: 800px) {
        width: 100%;
    }
}

.container__billing {
    display: flex;
    flex-direction: column;
    width: 33%;

    @media (max-width: 800px) {
        width: 100%;
    }
}

.container__shipping {
    display: flex;
    flex-direction: column;
    width: 30%;

    @media (max-width: 800px) {
        width: 100%;
    }
}

.picbox {
    background: url('./../../assets/image/registration.png') no-repeat;
    background-size: cover;
    width: 421px;
    height: 587px;
}

.form {
    display: flex;
    flex-direction: column;
    //width: 500px;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.title {
    text-align: center;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    color: #202b21;
    text-transform: none;
    margin-bottom: 35px;
}

.info__title {
    background-color: #2f5533;
    color: #fff;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}

.fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

}

.btnWrapper {
    width: 100%;
}

.button {
    margin-top: 45px;
}


.input {
    width: 100%;
    padding: 12px 14px;
    background: white;
}

.submit {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.login {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #519057;
    cursor: pointer;
}

.accaunt {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #2c2c2c;
    display: flex;
    display: flex;
}

.options {
    width: 150px;
}