<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="card.module.css">
</head>
<body>
    <div class="card__container">
        <div class="card__img"></div>
        <span class="card__title">Анакампсерос руфесценс Санрайз</span>
        <div class="price__container">
            <div class="price">29 BYN</div>
            <button class="btn">В корзину</button>            
        </div>
        <div class="line"></div>
        <div class="quantity__container">
            <div class="stepper">
                <div class="minus"></div>                
                <div class="number">
                    <label class="label" for="number"></label>
                    <input class="input" type="number" name="number" id="number" placeholder="1">
                  </div>
                <div class="plus"></div>
            </div>
            <div class="detailed">...Подробнее</div>
        </div>
    </div>


</body>
</html>