:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Lora", sans-serif;
  --third-family: "Suisse Intl", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0;
  margin: 0 auto;
  max-width: 1400px;

  .link {
    font-family: var(--font-family);
    text-decoration: none;
    color: #202B21;
    font-size: 16px;

    @media (max-width: 980px) {
      font-size: 14px;
    }
  }

  @media (max-width: 1500px) {
    padding: 25px 50px;
  }
}

.header__container {
  width: 85%;

  @media (max-width: 980px) {
    width: 75%;
  }
}

.header__menu {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #C5C5C5;
  padding-bottom: 10px;

  .link {
    font-weight: 600;
  }
}

.navbar {
  display: flex;
  gap: 30px;

  @media (max-width: 980px) {
    gap: 15px;
  }
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 15px;
  gap: 10px;
}

.header__group {
  display: flex;
  gap: 50px;

  @media (max-width: 980px) {
    gap: 20px;
  }
}

.menu__img {
  display: flex;
  gap: 5px;
}

.inputSearch {
  border: 1px solid #202B21;
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 5px 10px 5px 25px;
  background: url(../../assets/image/search.png) no-repeat center left 5px;
  outline: none;

  &:focus {
    outline: 1px solid #2A592E;
  }
}
