%burger-line {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #2A592E;
    width: 19px;
    height: 2px;
}

.burger {
    display: none;
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #fff;
    z-index: 400;

    &:hover {
      border: 1px solid #2A592E;
    }

    @media (max-width: 768px) {
        display: inline-block;
    }

    &:after {
        @extend %burger-line;
        bottom: 10px;
        left: 10px;
    }

    &:before {
        @extend %burger-line;
        top: 10px;
        left: 10px;
    }
}

.burger__line {
    @extend %burger-line;
    top: 16px;
    left: 10px;
}

.burger_active {

    border: 1px solid #648F64;

    .burger__line {
        top: 16px;
        transform: rotate(45deg);
        transition: 0.4s;
    }

    &:after {
        top: 16px;
        transform: rotate(-45deg);
        transition: 0.4s;
    }

    &:before {
        top: 16px;
        transform: rotate(-45deg);
        transition: 0.4s;
    }
}
