:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Lora", sans-serif;
    --third-family: "Suisse Intl", sans-serif;
}

.footer {
    background-color: #648F64;
    position: relative;
    z-index: 200;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1500px) {
        padding: 50px;
    }

    @media (max-width: 900px) {
        padding: 20px;
    }
}

h3 {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #2C2C2C;
}

.link {
    font-family: var(--font-family);
    font-size: 16px;
    text-decoration: none;
    color: #2C2C2C;
}

.footer_menu,
.footer__group,
.footer__team {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__logo {
    @media (max-width: 900px) {
        display: none;
    }
}
